.box{
  width: 400px;
  height: 380px;
  background-color: white;
  margin: 100px 0 0 0;
  border-radius: 5px;
}
.container{
  display: flex;
  justify-content: center;
  width: 100%;
}
h1{
  margin: 20px;
}
.display{
  display: flex;
}
#user_text{
  padding-left: 10px;
  width: 310px;
  height: 30px;
  margin: 0 0 0 20px;
  font-size: 14px;
}
#btn1{
  width: 33px;
  height: 33px;
  margin: 0 0 0 5px;
  background-color: rgb(149, 23, 153);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 28px;
}
.value_text{
  margin: 10px 20px 0 20px;
  height: 186px;
  overflow-y: scroll;
}
#btn2{
  background-color: rgb(149, 23, 153);
  border-radius: 3px;
  width: 80px;
  height: 34px;
  padding: 6px;
  font-size: 15px;
  color: #ffff;
  text-align: center;
  border: none;
  margin-left: 87px;
}
.option{
  margin: 14px 0 0 20px;
  height: 40px;
  width: 350px;
  align-items: center;
  display: flex;
}

.value_section{
  display: flex;
  margin-top: 6px;
}
.text{
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(211, 209, 209);
  width: 270px;
  height: 30px;
  padding-left: 10px;
  font-size: 12px;
  border-radius: 4px;
}
.fa-pen-to-square{
  margin: 3px;
  font-size: 22px;
  border-radius: 2px;
  color: rgb(10, 173, 24);
}
.fa-trash-can{
  margin: 3px;
  font-size: 22px;
  border-radius: 2px;
  color: rgb(255, 0, 0);
}